<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <style>

        * {
            font-family: spacemono-regular;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid #333;
            text-align: center;
            color: #fff;
        }


    </style>
</head>
<body>

    <div class="container-fluid bg-black text-white clearfix">

        <div class="row">


            <div class="col-2 text-white">
                <nav>
                    <h1 class="p-2" style=" font-weight:bold; ">Rieluminous </h1>

                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Projects", "Projects", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </nav>
            </div>
            <div class="col">



                <main class="col min-vh-100 text-center">
                    @RenderBody()
                </main>

            </div>

            <!--Footer Section-->
            <footer>
                <div class="row w-100 ">
                    <div class="col text-center">
                        <p>
                            &copy; Jhon Jhorie A. Quiling
                            <script>document.write(new Date().getFullYear())</script>
                        </p>
                    </div>
                    <div class="col text-center">
                        <a href="https://www.facebook.com/Jhonjhorie/"><i class="fa-facebook"></i></a>
                        <a href="https://twitter.com/Jhorie_Quling"><i class="fa-twitter"></i></a>
                        <a href="https://github.com/Jhonjhorie"><i class="fa-github"></i></a>
                        <a href="https://www.instagram.com/jhonjhoriequiling/"><i class="fa-instagram"></i></a>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</body>
</html>
